# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - release
  - nightly
notifications:
  email: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.build("MbedTLS")'
    - julia -e 'Pkg.test("MbedTLS", coverage=true)'
after_success:
    - julia -e 'cd(Pkg.dir("MbedTLS")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
